@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

main {
  font-family: "Inter", serif;
  display : block;
}
.top {
  height : 600px;
  background-color : #0E76A8;
  padding : 20px;
}
p {
  font-size : 60px;
  color: white;
  text-align : center;
  margin-top : 150px;
  margin-bottom : 30px;
}
#keyword {
  background-color : white;
  border-radius: 8px;
  color : #0E76A8;
  font-size : 58px;
}
#ask {
  background-color : rgba(255,255,255, 0.65);
  border-radius : 20px;
  padding: 20px;
  margin-bottom : 60px;
  margin-left : auto;
  margin-right : auto;
  max-width : 550px;
}
h2 {
  font-size: 160%;
  font-style : bold;
}
h3 {
  font-size: 14px;
  padding: 12px;
  margin-top : 10px;
  color: #3E77CA;
}
input, button {
  display: inline-block;
  font-family: "Inter", serif;
  height : 20px;
  border : None;
  background-color : white;
}
input {
  width : 45%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
button {
  width : 25%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height : 22px;
}
.second {
  font-size : 35px;
  height : 440px;
  text-align : center;
  padding-top : 140px;
}
span {
  color : white;
  background-color: #0E76A8;
  border-radius: 5px;
  font-size : 45px;
}
#description {
  color : black;
  font-size : 15px;
  margin-top : 50px;
}
.third {
  background-image: url("bg_cat_computer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-width : 750px;
  min-height : 500px;
  height : 500px;
  position : relative;
}
#third_textbox {
    position : absolute;
    background-color: rgba(255,255,255, 0.6);
    left : 0;
    bottom : 0;
    width : 50%;
    height : 100%;
    text-align : center;
}
#third_text_1 {
  font : 3vw black;
  font-weight: bolder;
  position : relative;
  top: 48%;
  transform: translateY(-50%);
}
#light_bulb {
  animation: neon 3s infinite;
  filter: drop-shadow(1px 1px 5px #FFFF00);
}
@keyframes neon {
  0% {opacity: 0.7;}
  75% {opacity: 1;}
  80% {opacity: 0.5;}
  85% {opacity: 0.8;}
  90% {opacity: 0.5;}
  95% {opacity: 0.8;}
  100% {opacity: 1;}
}
.end {
  font-size : 17px;
  height : 250px;
  text-align : center;
  padding : 50px;
  margin-top : 50px;
}
h4 {
  font-size : 10px;
}
a {
  color : black;
  text-decoration: underline;
  text-decoration-thickness: 5%;
}
