@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

main {
  font-family: "Inter", serif;
  display : block;
}
.top {
  height : 550px;
  background-color : #0E76A8;
  padding : 20px;
}
p {
  font-size : 60px;
  color: white;
  text-align : center;
  margin-top : 150px;
  margin-bottom : 30px;
}
#keyword {
  background-color : white;
  border-radius: 8px;
  color : #0E76A8;
  font-size : 58px;
}
#ask {
  background-color : rgba(255,255,255, 0.65);
  border-radius : 20px;
  padding: 20px;
  margin-bottom : 60px;
  margin-left : auto;
  margin-right : auto;
  max-width : 550px;
}
h2 {
  font-size: 160%;
  font-style : bold;
}
h3 {
  font-size: 14px;
  padding: 12px;
  margin-top : 10px;
  color: #3E77CA;
}
input, button {
  display: inline-block;
  font-family: "Inter", serif;
  height : 20px;
  border : None;
  background-color : white;
}
input {
  width : 45%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
button {
  width : 25%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height : 22px;
}
.second {
  font-size : 18px;
  height : 400px;
  text-align : center;
  padding-top : 80px;
}
span {
  color : white;
  background-color: #0E76A8;
  border-radius: 5px;
  font-size : 45px;
}
#description {
  color : black;
  font-size : 15px;
  margin-top : 50px;
}
.third {
  background-image: url("bg_cat_computer.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height : 500px;
}
#statement {
  font : 30px;
  display: inline-flex;
  font-weight : Bold;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .20em; /* Adjust as needed */
  animation:
    typing 5s steps(30, end),
    blink-caret .8s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: black; }
}
.end {
  font-size : 17px;
  height : 180px;
  text-align : center;
  padding : 60px;
  margin-top : 40px;
}
h4 {
  font-size : 10px;
}
