<!DOCTYPE html>
<html>
<head>
  <title>Job Search</title>
  <!--<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">-->
  <link href="../static/css/base.css" rel="stylesheet">
</head>

<body>
  <main>
    <div class="top">
      <p> Work <span id="keyword">Remote</span> </p>
      <div id = "ask" align="center">
        <h2>Ready to find your job?</h2>
        <form action="/report" method="get">
          <h3 align="center"> Search by term:</h3>
          <input id="input1" placeholder='   ex: python' required name="word" />
        <button id="button1" align="center">search</button>
        <h3 id="notification">* The first time of searching would take time. Please be patient and wait. It will show you numerous options of current remote job employment. Thank you :)</h3>
      </div>
    </div>
    <div class="second"> only  <span> 3</span>    steps
      <p id="description"> <span>1</span>   Search the job by keywords (ex : python, php, javascript)
      <br/><br/><span>2</span>   Wait until scrapping done.
      <br/><br/><span>3</span>   Check remote jobs and download .csv file to keep search data.</p>
    </div>
    <div class="third">
      <div id = "third_textbox">
         <h2 id="third_text_1">
           <img src="https://raw.githubusercontent.com/honeydoyaji/RemoteJobScrapper/main/templates/light_bulb.png" alt="light_bulb" id="light_bulb" style="width:4.2vw;height:4.2vw;"> <br>
          &quot;Work Remotely, <br/>
          Enjoy Your Life More&quot;
          </h2>
     </div>
    </div>
    <div class="end">
      <h2 > Job information is scrapped from <br> <a href="https://weworkremotely.com/">weworkremotely</a>, <a href="https://remoteok.io/">remoteok</a> and <a href="https://stackoverflow.com/jobs">stackoverflow</a></h2>
      <h3> This project is not made for commercial purpose. </h3> <br>
      <h4> design inspired by LinkedIn <br/>
           copyright © Claire Yoon (<a href="https://github.com/honeydoyaji">github</a>) </h4>
    </end>
  </main>
</body>

</html>
